.swiper-container.scenes3-container#scenes3
    .swiper-wrapper
        - for (var i=0, j=5; i<j; i++) {
            .swiper-slide
                .part_swiper-slide
                    .scenes3-top-box
                        .scenes3-title(data-swiper-parallax="-200")
                            img(src="index-assets/demo-scenes3-title.png")
                        .scenes3-absract(data-swiper-parallax="200").abs 2015年11月26日，中共中央总书记、国家主席、中央军委主席习近平在中央军委改革工作会议上强调要“全面实施改革强军战略,坚定不移走中国特色强军之路”。讲话一经公开，立即引起了国内外舆论的广泛关注。新华网邀请军事专家尹卓教授、网络大咖刘仰、资深军迷李小健，与我们一起来盘点一下军改一年间的那些事。#{i}
                            .quot-left(data-swiper-parallax="-260")
                            .quot-right(data-swiper-parallax="-320")

                        .swiper-container.scenes3-container-in(id="scenes3-in#{i}")
                            .t1.hide 供给侧结构性改革#{i}
                            .t2.hide 一年间系列访谈#{i}
                            img(src="index-assets/demo-s3-#{i}.png").t3.hide
                            .swiper-wrapper
                                .swiper-slide
                                    a(href="#")
                                        .p
                                            img(src="index-assets/demo-s3-#{i}.png")
                                        .t 刘诗诗#{i}
                                        .a 国际问题专家把脉2017:欧盟是否面临生存危机？
                                        .btn 查看详情
                                        .ani-line1
                                        .ani-line2
                                        .ani-line3
                                        .ani-line4

                                .swiper-slide
                                    .p
                                        img(src="index-assets/demo-s3-1.png")
                                    .t 刘诗诗
                                    .a 国际问题专家把脉2017:欧盟是否面临生存危机？
                                    .btn 查看详情
                                    .ani-line1
                                    .ani-line2
                                    .ani-line3
                                    .ani-line4

                                .swiper-slide
                                    .p
                                        img(src="index-assets/demo-s3-2.png")
                                    .t 刘诗诗
                                    .a 国际问题专家把脉2017:欧盟是否面临生存危机？
                                    .btn 查看详情
                                    .ani-line1
                                    .ani-line2
                                    .ani-line3
                                    .ani-line4

                                .swiper-slide
                                    .p
                                        img(src="index-assets/demo-s3-3.png")
                                    .t 刘诗诗
                                    .a 国际问题专家把脉2017:欧盟是否面临生存危机？
                                    .btn 查看详情
                                    .ani-line1
                                    .ani-line2
                                    .ani-line3
                                    .ani-line4

                                .swiper-slide
                                    .p
                                        img(src="index-assets/demo-s3-4.png")
                                    .t 刘诗诗
                                    .a 国际问题专家把脉2017:欧盟是否面临生存危机？
                                    .btn 查看详情
                                    .ani-line1
                                    .ani-line2
                                    .ani-line3
                                    .ani-line4

                                .swiper-slide
                                    .p
                                        img(src="index-assets/demo-s3-0.png")
                                    .t 刘诗诗
                                    .a 国际问题专家把脉2017:欧盟是否面临生存危机？
                                    .btn 查看详情
                                    .ani-line1
                                    .ani-line2
                                    .ani-line3
                                    .ani-line4

                            .swiper-button-prev.scenes-swiper-btn-tiny.prev-tiny(id="scenes3-in-prev#{i}")
                                .icon
                                .b
                            .swiper-button-next.scenes-swiper-btn-tiny.next-tiny(id="scenes3-in-next#{i}")
                                .icon
                                .b
                            //- .swiper-button-prev.scenes3-in-prev
                            //-     .icon
                            //-     .b
                            //- .swiper-button-next.scenes3-in-next
                            //-     .icon
                            //-     .b
        - }

    .swiper-pagination#scenes3-pagination
    .swiper-button-prev.scenes-swiper-btn.prev#scenes3-prev
        .swiper-button-content
            .p
            .t
        .icon
        .b
    .swiper-button-next.scenes-swiper-btn.next#scenes3-next
        .swiper-button-content
            .p
            .t
        .icon
        .b
    .scenes3-bg#triangleBg(data-swiper-parallax="-23%")
        .scenes3-bg-ani#triangleBg-anitOut
