.swiper-container.scenes-2-container#scenes-2
    //- #scenes-2-data.hide
    .scenes-logo(data-swiper-parallax="200%")
    .parallax-bg(data-swiper-parallax="-23%")
    .swiper-wrapper
        .swiper-slide 1
            .wrapper
                - for (var i=0, j=20; i<j; i++) {
                    .item(class="item-#{i}")
                        .item-in
                            .title-1 #{i} 军改，实现强军梦的正确打开方式正确打开方式
                            .title-2 尹卓尹卓
                            .title-3 北京佳合建科集团董事长<br>北京定荣家科技有限公司创始人
                            .mask
                            .scenes-pic
                                a(href="#")
                                    img(src="index-assets/demo-a-s2-0.png")
                - }

        .swiper-slide 2
            .wrapper
                - for (var i=0, j=20; i<j; i++) {
                    .item(class="item-#{i}")
                        .item-in
                            .title-1 #{i} 军改，实现强军梦的正确打开方式正确打开方式
                            .title-2 尹卓尹卓
                            .title-3 北京佳合建科集团董事长<br>北京定荣家科技有限公司创始人
                            .mask
                            .scenes-pic
                                a(href="#")
                                    img(src="index-assets/demo-a-s2-1.png")
                - }

        .swiper-slide 3
            .wrapper
                - for (var i=0, j=20; i<j; i++) {
                    .item(class="item-#{i}")
                        .item-in
                            .title-1 #{i} 军改，实现强军梦的正确打开方式正确打开方式
                            .title-2 尹卓尹卓
                            .title-3 北京佳合建科集团董事长<br>北京定荣家科技有限公司创始人
                            .mask
                            .scenes-pic
                                a(href="#")
                                    img(src="index-assets/demo-a-s2-2.png")
                - }
    .swiper-button-prev
        .icon
        .b
    .swiper-button-next
        .icon
        .b
